graft src
graft tests

include Pipfile
include Pipfile.lock

include .coveragerc

include CHANGELOG.rst
include README.rst
include LICENSE
include requirements.txt
include test-requirements.txt

include tox.ini .travis.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib
exclude .pytest_cache
