graft src
graft tests

include Pipfile
include Pipfile.lock

include CHANGELOG.rst
include README.rst
include LICENSE
include requirements.txt
include test-requirements.txt

include tox.ini
include setup.cfg

global-exclude *.py[cod] __pycache__ *.so *.dylib

