[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

tox = "*"
aiohttp = "*"
simple-rest-client = "*"
python-dateutil = "*"
simplejson = "*"

[requires]

python_version = "3.6"
